<h2>Account Information</h2>

<mat-list role="list">
  <mat-list-item *ngFor="let property of accountProperties" role="listitem">
    <div class="property-container">
      <span class="user-property-name">{{ property.name }}</span>

      <hr class="property-name-value-connector"/>

      <span class="user-property-value" [ngClass]="{ 'shared-code-block': property.name === 'Path' }">
        {{ property.value }}
      </span>
    </div>
  </mat-list-item>
</mat-list>

<mat-divider class="general-element-divider"></mat-divider>