<ng-container *ngIf="validBuildID === true;">

  <nav class="build-nav">
    <div fxHide.gt-md class="mobile-build-nav-container">

      <button mat-raised-button [matMenuTriggerFor]="nodeMenu" class="mobile-build-nav-button"
      data-cy="NEEDS-TO-BE-UPDATED">
        Build Options
      </button>

      <mat-menu #nodeMenu="matMenu">
        <button mat-button (click)="printFinalBuilderJSON()">
          TEST: Print to console
        </button>

        <mat-divider></mat-divider>
        <mat-divider></mat-divider>
        <mat-divider></mat-divider>

        <button mat-menu-item
        data-cy="NEEDS-TO-BE-UPDATED">
          Publish to GitHub
        </button>
        <button mat-menu-item
        data-cy="">
          Publish to preview
        </button>
        <button mat-menu-item (click)="publishToAWS()" data-cy="">
          Publish to AWS
        </button>
      </mat-menu>

    </div>
  
    <div fxFlex fxLayout fxLayoutAlign="start" fxHide.lt-lg>
      <div fxLayout fxLayoutGap="1px" class="build-nav-container">
  
        <mat-nav-list>
          <button mat-flat-button (click)="printFinalBuilderJSON()">
            TEST: Print to console
          </button>
          <button mat-flat-button>Publish to GitHub</button>
          <button mat-flat-button>Publish to preview</button>
          <button mat-flat-button>Publish to AWS</button>
        </mat-nav-list>
  
      </div>
    </div>
  </nav>

  <div fxLayout="row" fxLayoutAlign="center" class="main-container">
    <div fxFlex="75%" fxFlex.lt-md="100%" fxFlex.gt-lg="50%" class="build-container">
  
      <mat-tree [dataSource]="treeDataSource" [treeControl]="treeControl" cdkDropList
      (cdkDropListDropped)="treeNodeDrop($event)">
        <!-- Tree node template for leaf nodes with no children. -->
        <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding cdkDrag [cdkDragData]="node"
        (mouseenter)="dragHover(node)" (mouseleave)="dragHoverEnd()" (cdkDragStarted)="dragStart()"
        (cdkDragReleased)="dragEnd()" [cdkDragDisabled]="node | checkTreeNode">
  
          <div class="tree-node-content-container">
            <ng-container *ngIf="node.level !== 'Datastores' && node.level !== 'Main Menus'">
              <div aria-label="Tree node name, level, node menu, & exclamation icon.">
                <span class="node-name-no-children"><b>{{ node.level }}:</b> {{ node.name }}</span>
  
                <node-menu [node]="node" (menuChoice)="receiveMenuChoice($event)"></node-menu>
  
                <ng-container *ngIf="!(validNodeSaveState(node) | async)">
                  <fa-icon [icon]="faTriangleExclamation" size="xl" class="tree-node-warning-icon"
                  matTooltip="Configuration not saved" matTooltipPosition="right">
                  </fa-icon>
                </ng-container>
              </div>
    
              <ng-container *ngIf="!(node | checkTreeNode)">
                <div class="tree-node-drag-handle" cdkDragHandle>
                  <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
                    <path d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"></path>
                    <path d="M0 0h24v24H0z" fill="none"></path>
    
                  </svg>
                </div>
              </ng-container>
  
            </ng-container>
  
            <ng-container *ngIf="node.level === 'Datastores' || node.level === 'Main Menus'">
              <span class="node-name-no-children"><b>{{ node.name }}</b></span>
            </ng-container>
            
          </div>        
  
        </mat-tree-node>
      
        <!-- Tree node template for expandable nodes (has children). -->
        <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding cdkDrag
        [cdkDragData]="node" (mouseenter)="dragHover(node)" (mouseleave)="dragHoverEnd()"
        (cdkDragStarted)="dragStart()" (cdkDragReleased)="dragEnd()"
        [cdkDragDisabled]="node | checkTreeNode">
  
          <div class="tree-node-content-container">
  
            <div aria-label="Tree node chevron, name, level, node menu, & exclamation icon.">
              <button mat-icon-button matTreeNodeToggle (click)="expansionModel.toggle(node.id)"
              [attr.aria-label]="'Toggle ' + node.name">
                <fa-icon [icon]="treeControl.isExpanded(node) ? faChevronDown : faChevronRight"
                size="lg"></fa-icon>
              </button>
    
              <ng-container *ngIf="node.level !== 'Datastores' && node.level !== 'Main Menus'">
                <span class="node-name-with-children"><b>{{ node.level }}:</b> {{ node.name }}</span>
  
                <node-menu [node]="node" (menuChoice)="receiveMenuChoice($event)"></node-menu>
    
                <ng-container *ngIf="!(validNodeSaveState(node) | async)">
                  <fa-icon [icon]="faTriangleExclamation" size="xl" class="tree-node-warning-icon"
                  matTooltip="Configuration not saved" matTooltipPosition="right">
                  </fa-icon>
                </ng-container>
              </ng-container>

              <ng-container *ngIf="node.level === 'Datastores' || node.level === 'Main Menus'">
                <span class="node-name-with-children"><b>{{ node.name }}</b></span>
              </ng-container>
            </div>
  
            <ng-container *ngIf="!(node | checkTreeNode)">
              <div class="tree-node-drag-handle" cdkDragHandle>
                <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
                  <path d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"></path>
                  <path d="M0 0h24v24H0z" fill="none"></path>
                </svg>
              </div>
            </ng-container>
          </div>
  
        </mat-tree-node>
      </mat-tree>    
  
    </div>
  </div>

</ng-container>
