<div fxLayout="row" fxLayoutAlign="center" class="main-container">
  <div fxFlex="75%" fxFlex.lt-md="100%" fxFlex.gt-lg="50%" class="build-container">

    <button mat-raised-button (click)="addNodeToTreeData('Datastore')">Click to add Datastore</button>
    <button mat-raised-button (click)="addNodeToTreeData('Main Menu')">Click to add Main Menu</button>

    <mat-tree [dataSource]="treeDataSource" [treeControl]="treeControl" cdkDropList
    (cdkDropListDropped)="treeNodeDrop($event)">
      <!-- Tree node template for leaf nodes with no children. -->
      <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding cdkDrag [cdkDragData]="node"
      (mouseenter)="dragHover(node)" (mouseleave)="dragHoverEnd()" (cdkDragStarted)="dragStart()"
      (cdkDragReleased)="dragEnd()" [cdkDragDisabled]="node | checkTreeNode">
      
        <div class="tree-node-content-container">
          <span class="node-name-no-children"><b>{{ node.level }}:</b> {{ node.name }}</span>
  
          <ng-container *ngIf="!(node | checkTreeNode)">
            <div class="tree-node-drag-handle" cdkDragHandle>
              <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
                <path d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"></path>
                <path d="M0 0h24v24H0z" fill="none"></path>

              </svg>
            </div>
          </ng-container>
          
        </div>

      </mat-tree-node>
    
      <!-- Tree node template for expandable nodes (has children). -->
      <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding cdkDrag
      [cdkDragData]="node" (mouseenter)="dragHover(node)" (mouseleave)="dragHoverEnd()"
      (cdkDragStarted)="dragStart()" (cdkDragReleased)="dragEnd()"
      [cdkDragDisabled]="node | checkTreeNode">

        <div class="tree-node-content-container">

          <div aria-label="Tree node chevron, name, label, and node menu">
            <button mat-icon-button matTreeNodeToggle (click)="expansionModel.toggle(node.id)"
            [attr.aria-label]="'Toggle ' + node.name">
              <fa-icon [icon]="treeControl.isExpanded(node) ? faChevronDown : faChevronRight"
              size="lg"></fa-icon>
            </button>
  
            <span class="node-name-with-children"><b>{{ node.level }}:</b> {{ node.name }}</span>
          </div>

          <ng-container *ngIf="!(node | checkTreeNode)">
            <div class="tree-node-drag-handle" cdkDragHandle>
              <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
                <path d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"></path>
                <path d="M0 0h24v24H0z" fill="none"></path>
              </svg>
            </div>
          </ng-container>
        </div>

      </mat-tree-node>
    </mat-tree>    

  </div>
</div>
