<h1 *ngIf="accountAddType === 'New'" class="create-account-title">Create new account</h1>
<h1 *ngIf="accountAddType === 'Existing'" class="create-account-title">Add to existing account</h1>

<ng-container *ngIf="accountAddType === 'New'">

  <form [formGroup]="createNewAccountFG" class="create-user-pool-form">
    <span class="create-user-pool-string">
      {{ accountType }} account name
    </span>
    <mat-form-field style="width: 100%" appearance="outline">
              
      <input matInput formControlName="userPoolName" attr.data-cy="TODO">
      <mat-hint>e.g. Open Water Foundation</mat-hint>

      <mat-error>
        <ng-container *ngFor="let error of formErrors(createNewAccountFG.get('userPoolName'))">
          {{ formErrorMessages[error] }} <br>
        </ng-container>
      </mat-error>
    </mat-form-field>

    <!-- <span class="create-account-string">
      Create account in <span class="emphasize-word">new</span> organization
    </span>
    <mat-form-field appearance="outline">
              
      <input matInput formControlName="user" attr.data-cy="TODO">

      <mat-error>
        <ng-container *ngFor="let error of formErrors(signInFG.get('user'))">
          {{ formErrorMessages[error] }} <br>
        </ng-container>
      </mat-error>
    </mat-form-field> -->
  </form>

</ng-container>

<ng-container *ngIf="accountAddType === 'Existing'">

  Existing account

  <!-- <form [formGroup]="accountTypeFG" class="account-type-form">
    <span class="create-account-string">
      Create account in <span class="emphasize-word">existing</span> organization
    </span>
    <mat-form-field appearance="outline">
      <mat-label>Account type</mat-label>
      <mat-select formControlName="existingAccountType" [disabled]="isNewSelected()">
        <mat-option *ngFor="let accountType of accountTypes" (click)="accountTypeChosen(accountType, 'Existing')"
        [value]="accountType">
          {{ accountType }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <span class="create-account-string">
      Create account in <span class="emphasize-word">new</span> organization
    </span>
    <mat-form-field appearance="outline">
      <mat-label>Account type</mat-label>
      <mat-select formControlName="newAccountType" [disabled]="isExistingSelected()">
        <mat-option *ngFor="let accountType of accountTypes" (click)="accountTypeChosen(accountType, 'New')"
        [value]="accountType">
          {{ accountType }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </form> -->

</ng-container>