/* CLASSES */

a {
  color: #9db66b;
}

/* The overarching container for a Content Page. */
.main-container {
  height: 100%;
  overflow: auto;
  display: flex;
  justify-content: center;
}

@media (max-width: 959px) {

  .display-container {
    // @include display-container(100px);
    height: 100%;
    width: 100%;
    padding: 0 10px;
  }
}

@media (min-width: 960px) and (max-width: 1919px) {

  .display-container {
    // @include display-container(50px);
    height: 100%;
    width: 50%;
    padding: 0 10px;
  }
}

@media (min-width: 1920px) {

  .display-container {
    // @include display-container(30px);
    height: 100%;
    width: 30%;
    padding: 0 10px;
  }
}

/* Mixins */

/* The inner container that displays the Content Page contents based on browser
width. */
@mixin display-container($width) {
  height: 100%;
  width: $width;
  padding: 0 10px;
}