<mat-toolbar>

  <div class="toolbar-main-container">
    <div class="toolbar-left-container">
      <div fxHide.gt-md>
        <button mat-icon-button (click)="onToggleSidenav()"
        data-cy="side-nav-toggle-button">
          <fa-icon [icon]="faBars" size="lg"></fa-icon>
        </button>
      </div>
    
      <button mat-button class="home-button" [routerLink]="['/home']">
        {{title}}
      </button>
    
      <div fxFlex fxLayout fxLayoutAlign="start" fxHide.lt-lg>
        <ul fxLayout fxLayoutGap="1px" class="main-menu-buttons">
    
          <div *ngFor="let mainMenu of appConfig.mainMenu">
            <div *ngIf="mainMenu | checkElement : 'mainMenuIsVisible'">
              <nav-bar-menu [mainMenu]="mainMenu"></nav-bar-menu>
            </div>
          </div>
    
        </ul>
      </div>
    </div>

    <div *ngIf="isLoggedIn | async" class="toolbar-right-container">
      <button mat-stroked-button matRipple [matMenuTriggerFor]="menu" >
        <span>Account</span>
      </button>
      <mat-menu #menu="matMenu">

        <button mat-menu-item disabled>
          <span class="user-text">
            User: <span class="username-text-logged-in">{{ authUsername | async }}</span>
          </span>
        </button>
        <mat-divider></mat-divider>
        <button mat-menu-item (click)="logoutUser()">
          <span>Logout</span>
        </button>

      </mat-menu>
      
    </div>
  </div>

</mat-toolbar>
