<mat-toolbar>

  <div class="toolbar-main-container">
    <div class="toolbar-left-container">
      <div class="side-nav-toggle-container">
        <button mat-icon-button (click)="onToggleSidenav()"
        data-cy="side-nav-toggle-button">
          <fa-icon [icon]="faBars" size="xl"></fa-icon>
        </button>
      </div>
    
      <button mat-button class="home-button" [routerLink]="['/home']">
        {{title}}
      </button>
    
      <div class="main-menu-option-container">
        <ul class="main-menu-buttons">
    
          <ng-container *ngFor="let mainMenu of appConfig.mainMenu">
            <ng-container *ngIf="mainMenu | checkElement : 'mainMenuIsVisible'">
              <nav-bar-menu [mainMenu]="mainMenu"></nav-bar-menu>
            </ng-container>
          </ng-container>
    
        </ul>
      </div>
    </div>

    <div *ngIf="isLoggedIn | async" class="toolbar-right-container">
      <button mat-icon-button [matMenuTriggerFor]="menu" class="user-icon-button">
        <fa-icon [icon]="faUser" size="xl"></fa-icon>
      </button>
      <mat-menu #menu="matMenu">

        <button mat-menu-item (click)="openUserAccountDialog()">
          My Account
        </button>

        <mat-divider class="user-logout-divider"></mat-divider>

        <button mat-menu-item (click)="logoutUser()">
          <span>Logout</span>
        </button>

      </mat-menu>
      
    </div>
  </div>

</mat-toolbar>
