<div class="main-container">
  <div class="display-container">

    <div class="forgot-main-container">

      <h1 class="recovery-title">Password Recovery</h1>

      <form class="forgot-password-form-container" [formGroup]="forgotPasswordFG">

        <span>Username</span>
        <mat-form-field appearance="outline">
    
          <div class="pw-input-container">
            <input matInput formControlName="username" attr.data-cy="TBD"/>
          </div>
      
          <mat-error>
            <ng-container *ngFor="let error of formErrors(forgotPasswordFG.get('username'))">
              {{ formErrorMessages[error] }}<br>
            </ng-container>
          </mat-error>
        </mat-form-field>

      </form>

      <button mat-stroked-button [disabled]="isFormInvalid()" (click)="recoverPassword()">
        Send email to recover my password.
      </button>

    </div>

  </div>
</div>