<h2>Change password</h2>

<div class="change-password-container">

  <form [formGroup]="securityTabFG" class="shared-form-field-container form-field-container">

    <span>Current password</span>
    <mat-form-field class="config-form-field" appearance="outline">

      <div class="pw-input-container">
        <input matInput [type]="visibleInputCP ? 'text' : 'password'" formControlName="currentPassword"
        attr.data-cy="TBD"/>
        <fa-icon [icon]="visibilityIconCP" size="lg" [matTooltip]="visibilityMessageCP"
        (click)="toggleIconVisibility('CP')" class="visibility-icon">
        </fa-icon>
      </div>
  
      <mat-error>
        <ng-container *ngFor="let error of formErrors(securityTabFG.get('currentPassword'))">
          {{ formErrorMessages[error] }}<br>
        </ng-container>
      </mat-error>
    </mat-form-field>
  
    <span>New password</span>
    <mat-form-field class="config-form-field" appearance="outline">

      <div class="pw-input-container">
        <input matInput [type]="visibleInputNP ? 'text' : 'password'" formControlName="newPassword"
        attr.data-cy="TBD"/>
        <fa-icon [icon]="visibilityIconNP" size="lg" [matTooltip]="visibilityMessageNP"
        (click)="toggleIconVisibility('NP')" class="visibility-icon">
        </fa-icon>
      </div>
  
      <mat-error>
        <ng-container *ngFor="let error of formErrors(securityTabFG.get('newPassword'))">
          {{ formErrorMessages[error] }}<br>
        </ng-container>
      </mat-error>
    </mat-form-field>
  
    <span>Confirm new password</span>
    <mat-form-field class="config-form-field" appearance="outline">

      <div class="pw-input-container">
        <input matInput [type]="visibleInputCNP ? 'text' : 'password'" formControlName="confirmNewPassword"
        attr.data-cy="TBD"/>
        <fa-icon [icon]="visibilityIconCNP" size="lg" [matTooltip]="visibilityMessageCNP"
        (click)="toggleIconVisibility('CNP')" class="visibility-icon">
        </fa-icon>
      </div>
  
      <mat-error>
        <ng-container *ngFor="let error of formErrors(securityTabFG.get('confirmNewPassword'))">
          {{ formErrorMessages[error] }}<br>
        </ng-container>
      </mat-error>
    </mat-form-field>
  
  </form>

  <div class="update-password-utility-container">

    <div class="update-password-utility">
      <span *ngIf="!arePasswordsEqual()" class="update-password-error">
        Passwords do not match
      </span>

      <button mat-raised-button class="update-password-button" (click)="createUpdatePasswordRequest()"
      [disabled]="isUpdatePasswordDisabled()">
        Update password
      </button>
    </div>
    
  </div>
  
</div>

<mat-divider class="security-element-divider"></mat-divider>