/* CLASSES */

/* Highlights text to resemble a code block. */
.shared-code-block {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 0 5px 1px;
  color: #5C79FF;
}

/* Container holding all form fields & inputs in the app-config. */
.shared-form-field-container {
  display: flex;
  flex-direction: column;
}

/* Better display for each <li> tag in each dialog's description box. */
.shared-description-list {
  margin: 5px 0;
}

/* Override for the padding of <ul> tags in each dialog's description box. */
.shared-description-ul {
  padding-left: 25px;
}

/* Container of all form sections in the dialog row. */
.shared-form-container {
  display: flex;
  align-items: center;
}

/* The description container for each form field in the dialog. */
.shared-form-description {
  font-size: 13px;
  margin: 0px 0px 20px 20px;
  user-select: none;
  width: 300px;
}

/* The name of each dialog property in the dialog. */
.shared-form-title {
  font-size: 18px;
  margin: 0px 20px 22px 0px;
  text-align: end;
  user-select: none;
  width: 150px;
}

/* Sentence shown at the top of each dialog. */
.shared-top-dialog-string {
  font-size: small;
  margin: 0;
  padding: 10px 0px;
}

/* Styles asterisks shown by each form-title. */
.shared-required-asterisk {
  font-size: 18px;
  font-weight: 600;
}
