<div *ngIf="isLoading | async" class="loading">
  <mat-spinner></mat-spinner>
</div>

<div class="file-browser-container" *ngIf="!(isLoading | async)">

  <mat-grid-list cols="3" rowHeight="125px">

    <ng-container *ngFor="let item of (currentLevelItems | async) | keyvalue">
      <mat-grid-tile *ngIf="item.key !== '__data'">
        <div class="item-container"
        (click)="itemClick(item)" (dblclick)="itemDoubleClick(item)">
  
          <fa-icon *ngIf="item | isFolder : 'isFolder'" [icon]="faFolder" size="4x"
          class="item-icon-folder">
          </fa-icon>
          <fa-icon *ngIf="item | isFolder : 'isFile'" [icon]="faFile" size="4x"
          [ngClass]="{
            'item-icon-file': !(item.key === selectedFile),
            'item-icon-file-active': item.key === selectedFile
          }">
          </fa-icon>
  
          <span class="item-name">{{ item.key }}</span>
  
        </div>
      </mat-grid-tile>
    </ng-container>
    
  </mat-grid-list>

</div>